__pycache__
Job_Logs/
.cache
.ipynb_checkpoints*
resample/ref
settings.json
doc_src/_build
.pytest_cache
.vscode
neurotools.egg-info
build/
slurm/run_mm/Match_Bader/errors.txt
slurm/run_mm/iq.xlsx
slurm/run_mm/submit_bader_mm.py
slurm/run_mm/Match_Bader/results.pkl
slurm/run_mm/Match_Bader_Repeat/errors.txt
slurm/run_mm/Match_Bader_Repeat/results.pkl
slurm/run_permuted_v/test_1/h0_vmax.npy
slurm/run_permuted_v/test_1/original_scores.npy
slurm/run_permuted_v/test_*